@import "../../../../app/styles/variables/variables.scss";
.Product {
  &Title {
    font-size: 24px !important;
  }
  &Price {
    font-size: 20px !important;
    text-align: right !important;
  }
  &Body {
    padding: 10px;
    color: white;
    margin: 20px 5px;
    border-radius: 12px;
    background: $main-green-color;

    &Top {
      margin: 0 10px;
    }
  }
}
