.g-root_theme_dark {
    --g-color-gradient: linear-gradient(93.33deg, #1e08c0 9.26%, #3636a0 42.32%, #0d0d22 104.58%);
    --g-color-base-background: #fafafa;
    --g-color-base-brand: #464ce8;
    --g-color-base-brand-hover: #1c21a2;
    --g-color-base-brand-link: #a97bff;
    --g-color-base-brand-selection: #464ce8;
    --g-color-base-brand-selection-hover: #1c21a2;
    --g-color-line-brand: #464ce8;
    --g-color-text-brand: #181818;
    --g-color-text-brand-heavy: #464ce8;
    --g-color-text-brand-contrast: #fafafa;
    --g-color-text-link: #181818;
    --g-color-text-link-hover: #1c21a2;
    --g-color-text-link-visited: #1c21a2;
    --g-color-text-link-visited-hover: #1c21a2;

    --g-color-black: #16171d;
    --g-color-grey: #afb2bf;
    --g-color-grey-dark: #565656;
    --g-color-white: #fafafa;
    --g-color-green: #38cc6c;
    --g-color-light: #dad9de;
}