@import "../../../app/styles/variables/variables.scss";

.Footer {
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: white;
  align-items: center;
  justify-content: space-around;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px -7px 29px 0px;
}

.CartButton {
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  color: white !important;
  width: 50px !important;
  height: 48px !important;
  background-color: $main-green-color !important;
}
